<div class="ui dividing header">Notificaciones</div>
{{>tableFichaNotificaciones}}
<script type="text/javascript">
    $('#tbl-notificacion').DataTable({
        'order':[['0','desc']]
        
    });
    
</script>