<div class="panel panel-default">
    <div class="panel-heading">Registrar curso</div>
    <div class="panel-body">
        <form action="" class="ui form" id="form_curso" method="POST">
            <div class="col-md-6">
                <div class="field">
                    <label for="">Nivel:</label>
                    <select name="nivel_idnivel" class="ui fluid dropdown" id="">
                        <option value="" selected>Seleccione...</option>
                        {{#each nivel}}
                            <option value="{{idnivel}}">{{niv_nivel}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="field">
                    <label for="">Nombre:</label>
                    <input type="text" name="nombre">
                </div>

                <div class="ui error message"></div>
                <div class="text-center">
                    <a href="/curso" class="btn btn-default"><i class="fa fa-home"></i> Cancelar</a>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>

            </div>



        </form>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(() => {
        $('.dropdown').dropdown();
    })

    $(() => {
        $('#form_curso').form({
            fields: {
                nombre: {
                    identifier: 'nombre',
                    rules: [{ type: 'empty', prompt: 'Ingrese el nombre.' }]
                },
                nivel_idnivel: {
                    identifier: 'nivel_idnivel',
                    rules: [{ type: 'empty', prompt: 'Seleccione el nivel.' }]
                }
            },
            onSuccess: function (e) {
                e.submit();
            }
        }).submit(function (e) {
            e.preventDefault();
        })
    });

</script>